body{
    background-color: #02871F;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}
div:hover{
    border: 1px solid black;
}
.main-header{
    display: grid;
    width: 100%;
    background-color: #02871F;
    margin-top: 60px;
}
.head-title{
    text-align: center;
}
.header-container{
    background-color:#82AFE1;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    top: 0;
    position: fixed;
    
}
.title{
    display: grid;
    align-content: center;
    font-size:x-large;
}
.home{
    display: grid;
    align-content: center;
}
.about{
    display: grid;
    align-content: center;
}
.logout{
    display: grid;
    align-content: center;
    justify-content: right;
}
.logout{
    margin-right: 5px;
}
.left-classroom{
    display: grid;
    grid-template-columns: auto;
}
.main-container{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #8AB384;
    border-radius: 5px;

}
.first-floor-container > div{
    border: 1px solid #02871F;
}
.first-floor-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;    
}
.second-floor-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}
.second-floor-container > div{
    border: 1px solid #02871F;
}
.classroom{
    width: 100px;
    height: 40px;
    background-color: #82AFE1;
    border-radius: 5%;

}
.footer{
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #02871F;
    text-align: center;
    padding: 5%;
    gap: 15px;
}
